.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.853027;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{width:2.640000px;}
._0{width:8.064000px;}
._1{width:9.600000px;}
._3{width:43.728000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:40.000000px;}
.fs3{font-size:44.000000px;}
.fs0{font-size:48.000000px;}
.fs1{font-size:56.000000px;}
.y7{bottom:2.162999px;}
.y2{bottom:2.596000px;}
.y5{bottom:3.028001px;}
.yb{bottom:6.735000px;}
.y22{bottom:6.735004px;}
.y24{bottom:8.596000px;}
.y18{bottom:24.672999px;}
.y21{bottom:24.673004px;}
.y20{bottom:42.611004px;}
.y1f{bottom:60.549003px;}
.y2c{bottom:80.840974px;}
.y2b{bottom:93.489961px;}
.y0{bottom:104.000000px;}
.y2a{bottom:106.139009px;}
.y29{bottom:144.085969px;}
.y28{bottom:156.735017px;}
.y27{bottom:169.384004px;}
.y26{bottom:192.303010px;}
.y25{bottom:261.298009px;}
.y23{bottom:275.097009px;}
.y1e{bottom:326.632993px;}
.y1d{bottom:416.322991px;}
.y1c{bottom:457.722993px;}
.y1b{bottom:475.660993px;}
.y1a{bottom:511.536992px;}
.y19{bottom:529.474992px;}
.y17{bottom:547.412995px;}
.y16{bottom:565.350999px;}
.y15{bottom:583.288987px;}
.y14{bottom:601.226991px;}
.y13{bottom:619.164994px;}
.y12{bottom:637.102990px;}
.y11{bottom:655.040994px;}
.y10{bottom:672.978990px;}
.yf{bottom:690.916993px;}
.ye{bottom:708.854993px;}
.yd{bottom:726.792993px;}
.yc{bottom:744.730992px;}
.ya{bottom:762.668992px;}
.y9{bottom:795.851990px;}
.y8{bottom:810.082989px;}
.y6{bottom:850.751987px;}
.y4{bottom:864.701987px;}
.y3{bottom:880.800988px;}
.y1{bottom:894.750988px;}
.hc{height:13.799000px;}
.h2{height:13.950000px;}
.h4{height:16.099001px;}
.h7{height:17.938000px;}
.hb{height:19.799000px;}
.h6{height:27.792969px;}
.hf{height:29.820312px;}
.he{height:30.572266px;}
.hd{height:32.531250px;}
.h3{height:33.351562px;}
.h8{height:35.875999px;}
.h5{height:38.910156px;}
.h9{height:41.400002px;}
.ha{height:89.690002px;}
.h1{height:817.000000px;}
.h0{height:935.549988px;}
.w5{width:15.650000px;}
.w8{width:17.549999px;}
.w7{width:103.300003px;}
.wb{width:139.800003px;}
.w4{width:147.449997px;}
.wc{width:171.000000px;}
.w6{width:308.100006px;}
.w9{width:335.149994px;}
.w2{width:367.350006px;}
.w1{width:455.000000px;}
.wa{width:456.000000px;}
.w3{width:471.200012px;}
.w0{width:595.349976px;}
.x9{left:5.400000px;}
.x12{left:7.723000px;}
.x13{left:26.675000px;}
.x10{left:41.241999px;}
.x2{left:65.672999px;}
.xf{left:71.000000px;}
.x0{left:76.000000px;}
.x5{left:78.132002px;}
.x8{left:85.200000px;}
.xc{left:95.000000px;}
.x3{left:104.833998px;}
.x4{left:119.696997px;}
.x1{left:157.000000px;}
.x6{left:184.899002px;}
.x7{left:190.009003px;}
.xd{left:198.300003px;}
.xe{left:215.849998px;}
.x14{left:223.751999px;}
.xa{left:232.649994px;}
.xb{left:248.300003px;}
.x16{left:256.738998px;}
.x15{left:275.682999px;}
.x11{left:354.799988px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{width:3.520000pt;}
._0{width:10.752000pt;}
._1{width:12.800000pt;}
._3{width:58.304000pt;}
.fs2{font-size:53.333333pt;}
.fs3{font-size:58.666667pt;}
.fs0{font-size:64.000000pt;}
.fs1{font-size:74.666667pt;}
.y7{bottom:2.883999pt;}
.y2{bottom:3.461333pt;}
.y5{bottom:4.037334pt;}
.yb{bottom:8.980000pt;}
.y22{bottom:8.980006pt;}
.y24{bottom:11.461333pt;}
.y18{bottom:32.897333pt;}
.y21{bottom:32.897339pt;}
.y20{bottom:56.814672pt;}
.y1f{bottom:80.732004pt;}
.y2c{bottom:107.787965pt;}
.y2b{bottom:124.653281pt;}
.y0{bottom:138.666667pt;}
.y2a{bottom:141.518678pt;}
.y29{bottom:192.114625pt;}
.y28{bottom:208.980022pt;}
.y27{bottom:225.845338pt;}
.y26{bottom:256.404013pt;}
.y25{bottom:348.397345pt;}
.y23{bottom:366.796012pt;}
.y1e{bottom:435.510657pt;}
.y1d{bottom:555.097322pt;}
.y1c{bottom:610.297324pt;}
.y1b{bottom:634.214657pt;}
.y1a{bottom:682.049323pt;}
.y19{bottom:705.966656pt;}
.y17{bottom:729.883994pt;}
.y16{bottom:753.801332pt;}
.y15{bottom:777.718650pt;}
.y14{bottom:801.635988pt;}
.y13{bottom:825.553326pt;}
.y12{bottom:849.470654pt;}
.y11{bottom:873.387992pt;}
.y10{bottom:897.305319pt;}
.yf{bottom:921.222658pt;}
.ye{bottom:945.139990pt;}
.yd{bottom:969.057323pt;}
.yc{bottom:992.974656pt;}
.ya{bottom:1016.891989pt;}
.y9{bottom:1061.135986pt;}
.y8{bottom:1080.110652pt;}
.y6{bottom:1134.335983pt;}
.y4{bottom:1152.935983pt;}
.y3{bottom:1174.401318pt;}
.y1{bottom:1193.001317pt;}
.hc{height:18.398666pt;}
.h2{height:18.600000pt;}
.h4{height:21.465335pt;}
.h7{height:23.917333pt;}
.hb{height:26.398666pt;}
.h6{height:37.057292pt;}
.hf{height:39.760417pt;}
.he{height:40.763021pt;}
.hd{height:43.375000pt;}
.h3{height:44.468750pt;}
.h8{height:47.834666pt;}
.h5{height:51.880208pt;}
.h9{height:55.200002pt;}
.ha{height:119.586670pt;}
.h1{height:1089.333333pt;}
.h0{height:1247.399984pt;}
.w5{width:20.866666pt;}
.w8{width:23.399999pt;}
.w7{width:137.733337pt;}
.wb{width:186.400004pt;}
.w4{width:196.599996pt;}
.wc{width:228.000000pt;}
.w6{width:410.800008pt;}
.w9{width:446.866659pt;}
.w2{width:489.800008pt;}
.w1{width:606.666667pt;}
.wa{width:608.000000pt;}
.w3{width:628.266683pt;}
.w0{width:793.799967pt;}
.x9{left:7.200000pt;}
.x12{left:10.297333pt;}
.x13{left:35.566666pt;}
.x10{left:54.989332pt;}
.x2{left:87.563999pt;}
.xf{left:94.666667pt;}
.x0{left:101.333333pt;}
.x5{left:104.176003pt;}
.x8{left:113.600000pt;}
.xc{left:126.666667pt;}
.x3{left:139.778664pt;}
.x4{left:159.595996pt;}
.x1{left:209.333333pt;}
.x6{left:246.532003pt;}
.x7{left:253.345337pt;}
.xd{left:264.400004pt;}
.xe{left:287.799998pt;}
.x14{left:298.335999pt;}
.xa{left:310.199992pt;}
.xb{left:331.066671pt;}
.x16{left:342.318665pt;}
.x15{left:367.577332pt;}
.x11{left:473.066650pt;}
}
